.filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    margin: 1rem 0;
    background: #d4bb49;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .filters input,
  .filters button {
    padding: 0.6rem;
    border: 1px solid #69d78af7;
    border-radius: 4px;
    font-size: 0.9rem;
  }
  
  .filters button {
    background-color: #0066cc;
    color: rgb(193, 135, 135);
    cursor: pointer;
    font-weight: bold;
  }
  
  .filters button:hover {
    background-color: #004d99;
  }